PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-08-28 21:11:49.371081');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2025-08-28 21:11:49.400034');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2025-08-28 21:11:49.420155');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$1000000$3O53FdGfHUdHnDy8v3O32G$T5gWUSQbzgV350lHFVhj+OKSE/L0MpYZ3+8106vunYY=','2025-08-29 04:26:04.645276',1,'admin_cha','','jirapa0118@gmail.com',1,1,'2025-08-28 21:14:10.972887','');
CREATE TABLE IF NOT EXISTS "myapp_sale" ("sale_id" varchar(10) NOT NULL PRIMARY KEY, "sale_date" date NOT NULL, "shipping_fee" real NOT NULL, "status" integer NOT NULL, "note" text NULL, "customer_id" varchar(10) NOT NULL REFERENCES "myapp_customer" ("customer_id") DEFERRABLE INITIALLY DEFERRED, "employee_id" varchar(10) NOT NULL REFERENCES "myapp_employee" ("employee_id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO myapp_sale VALUES('SAL001','2025-08-29',150.0,0,'','CST001','EMP001');
INSERT INTO myapp_sale VALUES('SAL002','2025-08-29',15.0,0,'','CST002','EMP001');
CREATE TABLE IF NOT EXISTS "myapp_user" ("user_id" varchar(10) NOT NULL PRIMARY KEY, "name" varchar(100) NOT NULL, "password" varchar(128) NOT NULL, "position" varchar(50) NOT NULL, "phone" varchar(20) NOT NULL, "address" text NOT NULL);
INSERT INTO myapp_user VALUES('USR001','Mewni','pbkdf2_sha256$1000000$YmnawbG7gayvuoYNBz70iC$lLDaLCfvebd8lncgkTBULlGKewnkgUUBGOsxS0W4VDI=','employee','0855657475','6/6');
INSERT INTO myapp_user VALUES('USR002','Joua','pbkdf2_sha256$1000000$eZ33wGw9176Mji3n4zXyqu$7aORDGfOXOa0kPXnd+STZv95wbHzaCuNYx0J6Kc51MM=','customer','0987475869','4/7');
INSERT INTO myapp_user VALUES('USR003','Juyaa','pbkdf2_sha256$1000000$QU0QMrHhmnV4SgmV6ElTXD$MHK29vqN+xOm15YZVRaP0frPTGCGN4xmSqhhEIl2HHo=','customer','0855657475','4/4');
CREATE TABLE IF NOT EXISTS "myapp_payment" ("sale_id" varchar(10) NOT NULL PRIMARY KEY REFERENCES "myapp_sale" ("sale_id") DEFERRABLE INITIALLY DEFERRED, "pay_total" decimal NOT NULL, "pay_type" integer NOT NULL, "date" datetime NOT NULL, "slip_image" varchar(100) NULL);
INSERT INTO myapp_payment VALUES('SAL001',15,0,'2025-08-28 21:31:24.928387','payment_slips/Ó©¬Ó©ÑÓ©ø_LQ1tUVL.png');
INSERT INTO myapp_payment VALUES('SAL002',150,0,'2025-08-28 22:23:19.555022','payment_slips/Ó©¬Ó©ÑÓ©ø_5jBzTlF.png');
CREATE TABLE IF NOT EXISTS "myapp_productreceiveitem" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0), "product_id" varchar(10) NOT NULL REFERENCES "myapp_product" ("product_id") DEFERRABLE INITIALLY DEFERRED, "receive_id" varchar(10) NOT NULL REFERENCES "myapp_productreceive" ("receive_id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO myapp_productreceiveitem VALUES(2,10,'PRO12140','RCV002');
INSERT INTO myapp_productreceiveitem VALUES(3,10,'PRO12140','RCV003');
INSERT INTO myapp_productreceiveitem VALUES(4,10,'PRO14421','RCV004');
CREATE TABLE IF NOT EXISTS "myapp_saleitem" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0), "price" real NOT NULL, "product_id" varchar(10) NOT NULL REFERENCES "myapp_product" ("product_id") DEFERRABLE INITIALLY DEFERRED, "sale_id" varchar(10) NOT NULL REFERENCES "myapp_sale" ("sale_id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "myapp_passwordresettoken" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "token" varchar(100) NOT NULL UNIQUE, "expire_at" datetime NOT NULL, "user_id" varchar(10) NOT NULL REFERENCES "myapp_user" ("user_id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "myapp_employee" ("employee_id" varchar(10) NOT NULL PRIMARY KEY, "name" varchar(100) NOT NULL, "position" varchar(50) NOT NULL, "phone" varchar(20) NOT NULL, "address" text NOT NULL, "user_id" varchar(10) NULL UNIQUE REFERENCES "myapp_user" ("user_id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO myapp_employee VALUES('EMP001','Mewni','Ó©×Ó©ÖÓ©▒Ó©üÓ©çÓ©▓Ó©Ö','0855657475','6/6','USR001');
INSERT INTO myapp_employee VALUES('EMP002','Seemon','Ó©×Ó©ÖÓ©▒Ó©üÓ©çÓ©▓Ó©Ö','0987475869','454','USR004');
INSERT INTO myapp_employee VALUES('EMP003','jifk','Ó©×Ó©ÖÓ©▒Ó©üÓ©çÓ©▓Ó©Ö','0987475869','8','USR006');
CREATE TABLE IF NOT EXISTS "myapp_delivery" ("delivery_id" varchar(10) NOT NULL PRIMARY KEY, "delivery_date" date NOT NULL, "tracking_number" varchar(100) NOT NULL, "company" varchar(100) NOT NULL, "sale_id" varchar(10) NOT NULL REFERENCES "myapp_sale" ("sale_id") DEFERRABLE INITIALLY DEFERRED, "user_id" varchar(10) NULL REFERENCES "myapp_user" ("user_id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO myapp_delivery VALUES('DLV001','2025-08-29','54545454544','Flash Express','SAL001','USR004');
INSERT INTO myapp_delivery VALUES('DLV002','2025-08-29','54545454544','Flash Express','SAL001','USR004');
CREATE TABLE IF NOT EXISTS "myapp_customer" ("customer_id" varchar(10) NOT NULL PRIMARY KEY, "name" varchar(100) NOT NULL, "password" varchar(100) NOT NULL, "address" text NOT NULL, "phone" varchar(20) NOT NULL, "user_id" varchar(10) NULL UNIQUE REFERENCES "myapp_user" ("user_id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO myapp_customer VALUES('CST001','Joua','11415','4/7','0987475869','USR002');
INSERT INTO myapp_customer VALUES('CST002','Juyaa','','4/4','0855657475','USR003');
CREATE TABLE IF NOT EXISTS "myapp_paymentconfirmation" ("confirmation_id" varchar(10) NOT NULL PRIMARY KEY, "confirm_date" date NOT NULL, "user_id" varchar(10) NULL REFERENCES "myapp_user" ("user_id") DEFERRABLE INITIALLY DEFERRED, "payment_id" varchar(10) NOT NULL UNIQUE REFERENCES "myapp_payment" ("sale_id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO myapp_paymentconfirmation VALUES('RCPT001','2025-08-29','USR001','SAL001');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('nxjmiqux1ci5pa6gy8cssbv7eag73swg','.eJxVjDEOwjAMRe-SGUXBrpOIkZ0zRHZiSAGlUtNOiLtDpQ6w_vfef5nE61LT2nVOYzEnczSH3004P7RtoNy53Sabp7bMo9hNsTvt9jIVfZ539--gcq_fmjBSdD6AEjIBB0ZUVAGEKMSgEB16yqzBD6qB5VpEHGQBGlwO5v0BxTg3ug:1urjx9:3HYyLcDdBTpk8JgWq1BSNEZ-PXqKRrczinYc0O_fca0','2025-09-11 21:14:39.105699');
INSERT INTO django_session VALUES('pacs13algmjqhejj37tbq851583791mm','.eJxVjDsOwjAQBe_iGllmnY0tSnoaELW1ay84QBwpnwpxdxIRCaWdefPeahqkD01SB3W9nI1BtfuhQq3MkFLblBAzzTzQNObwD_ZbxhSfUhaRHlTunY5dGfuG9TLRqx30qUvyOq7bzUGmIc81Wo_e1A4ELSGQI2vFCoMFz0gg4I2tMZK4uhJxxLfEbCAyYGWiU58vFnZFYw:1urqge:PvIBP1vFCx6ZDJqsmP5vBjcPkmV1GmQs2I2ZB0tuJSk','2025-09-12 04:26:04.662472');
INSERT INTO django_session VALUES('n9frxy6lc8040eurdpd2xv6oavrm5ivb','eyJ1c2VyX2lkIjoiVVNSMDA0IiwidXNlcl9uYW1lIjoiU2VlbW9uIn0:1uwljV:GQ-yVqppfDeO-RGrJ-YBigiKkPrVS7fnYjwXIrJ4Vdw','2025-09-25 18:09:21.806572');
CREATE TABLE IF NOT EXISTS "myapp_shippingrate" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "weight" real NOT NULL UNIQUE, "rate" decimal NOT NULL);
INSERT INTO myapp_shippingrate VALUES(1,1.0,10);
CREATE TABLE IF NOT EXISTS "myapp_store" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "number" varchar(15) NOT NULL, "address" text NOT NULL);
INSERT INTO myapp_store VALUES(1,'CHARCOAL HOME GREEN Ó©ûÓ╣êÓ©▓Ó©ÖÓ©ÜÓ╣ëÓ©▓Ó©ÖÓ╣ÇÓ©éÓ©ÁÓ©óÓ©º','093-567-2864',replace(replace('CHARCOAL HOME GREEN\r\nÓ©ÜÓ╣ëÓ©▓Ó©ÖÓ╣ÇÓ©ÑÓ©éÓ©ùÓ©ÁÓ╣ê 285 Ó©½Ó©íÓ©╣Ó╣ê11 Ó©ò.Ó╣éÓ©ÖÓ©ÖÓ©ùÓ╣êÓ©¡Ó©Ö Ó©¡.Ó╣ÇÓ©íÓ©ÀÓ©¡Ó©ç Ó©ê.Ó©éÓ©¡Ó©ÖÓ╣üÓ©üÓ╣êÓ©Ö 40000','\r',char(13)),'\n',char(10)));
CREATE TABLE IF NOT EXISTS "myapp_product" ("product_name" varchar(100) NOT NULL, "price" real NOT NULL, "quantity" integer unsigned NOT NULL CHECK ("quantity" >= 0), "weight" real NOT NULL, "image" varchar(100) NULL, "product_id" varchar(10) NOT NULL PRIMARY KEY);
INSERT INTO myapp_product VALUES('Ó©èÓ©▓Ó╣éÓ©äÓ©ÑÓ©Ñ',15.0,81,1.0,'product_images/kase_L7E9siw.jpg','PRO12140');
INSERT INTO myapp_product VALUES('Ó©èÓ©▓Ó╣éÓ©äÓ©Ñ',15.0,43,1.0,'product_images/makam.jpg','PRO14421');
CREATE TABLE IF NOT EXISTS "myapp_productreceive" ("receive_id" varchar(10) NOT NULL PRIMARY KEY, "receive_date" date NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO myapp_productreceive VALUES('RCV001','2025-08-29',1);
INSERT INTO myapp_productreceive VALUES('RCV002','2025-08-29',1);
INSERT INTO myapp_productreceive VALUES('RCV003','2025-09-11',1);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',29);
INSERT INTO sqlite_sequence VALUES('django_admin_log',0);
INSERT INTO sqlite_sequence VALUES('django_content_type',20);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "myapp_sale_customer_id_163d3da2" ON "myapp_sale" ("customer_id");
CREATE INDEX "myapp_sale_employee_id_c8a89076" ON "myapp_sale" ("employee_id");
CREATE INDEX "myapp_productreceiveitem_product_id_6701dd2f" ON "myapp_productreceiveitem" ("product_id");
CREATE INDEX "myapp_productreceiveitem_receive_id_2b26ed62" ON "myapp_productreceiveitem" ("receive_id");
CREATE INDEX "myapp_saleitem_product_id_b23ce660" ON "myapp_saleitem" ("product_id");
CREATE INDEX "myapp_saleitem_sale_id_0078a937" ON "myapp_saleitem" ("sale_id");
CREATE INDEX "myapp_passwordresettoken_user_id_75518734" ON "myapp_passwordresettoken" ("user_id");
CREATE INDEX "myapp_delivery_sale_id_e1f89d8f" ON "myapp_delivery" ("sale_id");
CREATE INDEX "myapp_delivery_user_id_0a454a8a" ON "myapp_delivery" ("user_id");
CREATE INDEX "myapp_paymentconfirmation_user_id_2774335a" ON "myapp_paymentconfirmation" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "myapp_productreceive_user_id_9bb9dab9" ON "myapp_productreceive" ("user_id");
COMMIT;
