/* cart.css */
.cart-shopee {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -10px;
    background: #ff3b30;
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    font-weight: bold;
}

.bounce {
    animation: bounce 0.3s ease;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}